<style>
            table{
            width: 80%;
            border-collapse: collapse;
            }
            th{
                border: 1px solid black;
                padding: 10px;

            }
            td{
                border: 1px solid black;
                padding: 30px;
            }
        </style>